*{
    box-sizing: border-box;
}

#div1{
    padding: 16px;
    width: 50%;
    height: 100%;
    margin-left: 25%;
    border: solid 1px;

}

input[type=text],input[type=password],input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus{
    background-color: #ddd;
    outline: none;

}

hr{
    border: 1px solid #f1f1f1;
}

#register{
background-color: #04aa6d;
color: white;
padding: 16px 20px;
margin: 8px 0;
border: none;
cursor:pointer;
width: 100%;
opacity: 0.9;


}